.page-card-box {
  position: relative;
  margin: 5rpx 20rpx 60rpx;
}

.bg-blue-gradient {
  /* background-image: linear-gradient(45deg, #00b8f9, #0166eb) !important; */
  color: #ffffff !important;
  /* background: linear-gradient(135deg, #c850c0, #4158d0); */
  background: linear-gradient(135deg, #001f3f, #0088a9, #00c9a7, #92d5c6, #ebf5ee);
}

.page-card-view {
  position: relative;
  padding: 20rpx 30rpx;
  border-radius: 24rpx;
  display: flex;
  z-index: 2;
}

.page-card-view:after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 24rpx;
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: -1;
}

.left-view {
  position: relative;
  height: 150rpx;
  margin-top: 50rpx;
  padding: 20rpx 0;
  flex: 1;
}

.right-view {
  position: relative;
  height: 202rpx;
  width: 180rpx;
  margin-top: 30rpx;
  text-align: center;
  margin-left: 90rpx;
}

.right-view image {
  position: relative;
  width: 150rpx;
  height: 150rpx;
}

.right-view .text {
  position: absolute;
  bottom: 8rpx;
  width: 100%;
}

.right-view:before {
  position: absolute;
  content: "";
  height: 190rpx;
  width: 2rpx;
  left: -40rpx;
  top: 33rpx;
  background-image: linear-gradient(0deg, #ffffffbf, #0166eb00);
}

.page-card-sub {
  position: relative;
  margin: 0 40rpx;
  padding: 18rpx 30rpx;
  border-radius: 0 0 30rpx 30rpx;
  z-index: 1;
}

.page-card-sub text {
  z-index: 3;
}